@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@font-face {
  font-family: "Whyte";
  src: local("☺"), url("fonts/WhyteInktrap-Regular.ttf") format("truetype");
  font-weight: 700;
  /* font-style: normal; */
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"),
    url("fonts/Montserrat-Black.ttf") format("truetype"),
    url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype"),
    url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"),
    url("fonts/Montserrat-Light.ttf") format("truetype"),
    url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* padding: 0;
  width:100%;
  height: 100vh; */
  display: flex;
  justify-content: center;
  /* background: url('assets/img/matrix-the-matrix-has-you.gif') no-repeat 50% 50%;
  background-size: cover; */
  /* min-height: 100vh;
  transition: 0.2s; */
}

#preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: #000;
  text-align: center;
  transition: all 1s ease-in-out;
}
#preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #070707;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
::-moz-selection {
  background: #56d3f3;
}
::selection {
  background: #56d3f3;
}
::-moz-selection {
  background: #56d3f3;
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #56d3f3;
}
body {
  background-color: #0c0c0c;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Whyte", "Montserrat", sans-serif;
  color: antiquewhite;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.l-viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
  overflow: hidden;
}
.l-wrapper {
  position: relative;
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}
.l-side-nav {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.l-side-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  max-height: 750px;
  background-color: #555;
  opacity: 0.35;
  z-index: 10;
}
@media (max-width: 1180px) {
  .l-side-nav {
    display: none;
  }
}
.l-main-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.l-section {
  position: absolute;
  width: 100%;
  height: 100%;
}
.device-notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0c0c0c;
  z-index: 12;
}
.device-notification--logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.device-notification--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.device-notification--message {
  width: 70%;
  margin: 30px 0 0 0;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) and (min-width: 601px) and (max-height: 680px) {
  .device-notification {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 600px) and (min-width: 480px) and (max-height: 580px) {
  .device-notification {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 736px) and (min-width: 360px) and (orientation: landscape) {
  .device-notification {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 359px) {
  .device-notification {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.section {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.section--is-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  -webkit-transition: opacity 0.4s ease-in-out 0.4s;
  transition: opacity 0.4s ease-in-out 0.4s;
}
.section--next {
  -webkit-transform: translateY(-45px);
  transform: translateY(-45px);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.section--prev {
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
}
.header--logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.header--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.header--nav-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.header--nav-toggle span,
.header--nav-toggle::before,
.header--nav-toggle::after {
  content: "";
  position: relative;
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.header--nav-toggle::before {
  bottom: 5px;
  width: 23px;
}
.header--nav-toggle::after {
  top: 5px;
  width: 23px;
}
.header--cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0 20px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0f33ff;
  border: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.header--cta:focus {
  outline: none;
}
.header--cta.is-active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease-in-out 0.4s;
  transition: opacity 0.4s ease-in-out 0.4s;
}
@media (max-width: 767px) {
  .header--cta {
    display: none;
  }
}
.side-nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 70%;
  max-height: 750px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  z-index: 10;
}
.side-nav > li {
  position: relative;
  top: -5px;
  color: antiquewhite;
  font-size: 6px;
  cursor: pointer;
}
.side-nav > li span {
  position: relative;
  top: 3px;
  left: 10px;
  color: #f9b66f;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
}
.side-nav > li::before {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #555;
  font-size: 18px;
  font-weight: 300;
}
.side-nav li:nth-child(1)::before {
  content: "🏠";
}
.side-nav li:nth-child(2)::before {
  content: "❓";
}
.side-nav li:nth-child(3)::before {
  content: "🧑‍💻";
}
.side-nav li:nth-child(4)::before {
  content: "☎️";
}
.side-nav li:nth-child(5)::before {
  content: "🎧";
}
.side-nav li.is-active {
  color: #0f33ff;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.side-nav li.is-active span {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.side-nav li.is-active::before {
  left: -33px;
  color: antiquewhite;
}
.intro {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .intro {
    max-width: 100%;
  }
}
.intro--banner {
  position: relative;
  height: 550px;
}
/* .intro--banner::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -15px;
  right: 0;
  height: 2px;
  background-color: #282828;
}
.intro--banner::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #0f33ff;
} */
.intro--banner h1 {
  position: relative;
  font-size: 64px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
}
.intro--banner button {
  position: relative;
  padding: 5px 17px 5px 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
.intro--banner button .btn-background {
  position: absolute;
  top: 0;
  left: 23px;
  right: 0;
  height: 100%;
  background-color: #ea4c89;
  z-index: -1;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
.intro--banner button:hover .btn-background {
  left: 0;
}
.intro--banner button:focus {
  outline: none;
}
.intro--banner button svg {
  position: relative;
  left: 5px;
  width: 15px;
  fill: #fff;
}
.wrapper {
  /* height: 100vh; */
  /*This part is important for centering*/
  display: grid;
  /* place-items: center; */
}
.wrapper i:hover {
  color: #f9b66f !important;
}
.wrapper a:visited {
  color: #070707;
  /* text-decoration: none; */
}
.wrapper i {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: #070707;
  color: antiquewhite;
  text-align: center;
  padding: 5px 0;
  border-radius: 15px;
  font-size: 12px;
  font-style: normal;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext {
  width: 60px;
  bottom: 100%;
  left: 50%;
  margin-left: -30px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
#typing-demo1 {
  width: 16em;
  animation: typing 3s steps(30), 2s step-end alternate;
  animation-iteration-count: 2;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #f9b66f;
  color: antiquewhite;
  /* font-family: monospace; */
  font-size: 1.8em;
  margin-left: 5px;
}

fieldset > input {
  background-color: #070707;
  border: 2px solid #f9b66f;
  border-radius: 5px;
  width: 20em;
  height: 2em;
  margin-bottom: 30px;
  margin-left: 20px;
}
textarea {
  background-color: #070707;
  border: 2px solid #f9b66f;
  border-radius: 5px;
  /* width: 20em;
  height: 10em; */
  margin-bottom: 30px;
  margin-left: 8em;
}
#button {
  background-color: #070707;
  border: 2px solid #f9b66f;
  border-radius: 5px;
  width: 15em;
  height: 3em;
  margin-bottom: 30px;
  margin-left: 11em;
  margin-top: 20px;
}
#button:hover {
  background-color: #f9b66f;
  border: 2px solid #f9b66f;
  color: #070707;
  transition: all 0.5s ease;
}
/* #typing-demo2 {
  width: 8em;
  animation: typing 3s steps(27),2s step-end alternate;
  animation-iteration-count: 2;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #f9b66f;
  color: antiquewhite;
  /* font-family: monospace; */
/* font-size: 1.9em;
  margin-left: 7px;
} */

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.intro--banner img {
  position: absolute;
  bottom: 95px;
  right: -12px;
  transform: scale(0.9);
}
.intro--options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.intro--options > a {
  max-width: 250px;
  text-decoration: none;
  color: antiquewhite;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.intro--options > a:hover {
  color: #f9b66f;
}
.intro--options h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.intro--options p {
  margin-bottom: 0;
}
@media (max-width: 900px) {
  .intro--banner {
    height: 380px;
  }
  .intro--banner h1 {
    font-size: 55px;
  }
  .intro--banner img {
    width: 300px;
  }
  .intro--options > a {
    margin-right: 30px;
  }
  .intro--options > a:last-child {
    margin-right: 0;
  }
  #counters {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 767px) {
  .intro--banner {
    height: 305px;
  }
  .intro--banner h1 {
    font-size: 42px;
  }
  .intro--banner img {
    width: 330px;
  }
  .intro--options {
    display: block;
  }
  .intro--options > a {
    display: block;
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .intro--options > a:last-child {
    margin-bottom: 0;
  }
  #counters {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 600px) {
  .intro--banner {
    height: 500px;
  }
  .intro--banner h1 {
    font-size: 42px;
    margin-top: 5em;
  }
  .intro--banner img {
    position: absolute;
    bottom: 250px;
    right: 20px;
    transform: scale(0.5);
  }
  #counters {
    display: none;
    visibility: hidden;
  }
  .about-content form {
    margin-left: 0em;
    margin-top: 1em;
  }
  fieldset > input {
    width: 13em;
    height: 2.5em;
    margin-top: 1em;
    font-size: 1em;
  }

  textarea {
    background-color: #070707;
    border: 2px solid #f9b66f;
    border-radius: 5px;
    width: 15em;
  height: 7em;
  margin-top: 2em;
    margin-bottom: 30px;
    margin-left: 3em;
  }
  #button {
    background-color: #070707;
    border: 2px solid #f9b66f;
    border-radius: 5px;
    width: 11em;
    height: 3em;
    margin-bottom: 30px;
    margin-left: 5em;
    margin-top: 21px;
  }
  #button:hover {
    background-color: #f9b66f;
    border: 2px solid #f9b66f;
    color: #070707;
    transition: all 0.5s ease;
  }
}
@media (max-width: 400px) {
  .intro--banner {
    height: 600px;
  }
  .intro--banner h1 {
    font-size: 40px;
    padding-top: 2em;
  }
  .intro--banner img {
    position: absolute;
    bottom: 15em;
    right: 20px;
    transform: scale(0.5);
  }
  #move::before {
    content: "\a";
    white-space: pre;
  }
  #counters {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 600px) and (max-height: 750px) {
  #counters {
    display: none;
    visibility: hidden;
  }
  .intro--banner {
    height: 360px;
  }
  .intro--banner::before,
  .intro--banner::after {
    display: none;
  }
  .intro--banner h1 {
    margin-top: 0;
  }
  .intro--options {
    display: none;
  }
}
.work {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  max-width: 80%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .work {
    max-width: 100%;
  }
}
.work h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  text-align: center;
  color: #f9b66f;
  font-family: "EB Garamond", "Whyte", "Montserrat", sans-serif;
  font-weight: 50;
}
.work--lockup {
  position: relative;
}
.work--lockup .slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.work--lockup .slider--item {
  position: absolute;
  display: none;
  text-align: center;
}
.work--lockup .slider--item a {
  text-decoration: none;
}
.slider--item-title:hover {
  color: #56d3f3;
}

.work--lockup .slider--item-title {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #56d3f3;
}
.work--lockup .slider--item-description {
  display: none;
  max-width: 250px;
  margin: 0 auto;
  color: antiquewhite;
  transition: all 0.25s ease-in-out;
}
.slider--item-description:hover {
  color: #f9b66f;
}
.work--lockup .slider--item-image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}
.slider--item-image:hover {
  transform: scale(1.1);
}
.work--lockup .slider--item-image img {
  width: 100%;
  height: 90%;
}
.work--lockup .slider--item-left {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.work--lockup .slider--item-right {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.work--lockup .slider--item-center {
  position: relative;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}
.work--lockup .slider--item-center a {
  color: #fff;
}
.work--lockup .slider--item-center .slider--item-title {
  margin-top: 25px;
  font-size: 16px;
}
.work--lockup .slider--item-center .slider--item-description {
  display: block;
}
.work--lockup .slider--item-center .slider--item-image {
  width: 300px;
  height: 300px;
}
.work--lockup .slider--next,
.work--lockup .slider--prev {
  position: absolute;
  top: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgb(11, 7, 7);
  border-radius: 50%;
  cursor: pointer;
}
.work--lockup .slider--next svg,
.work--lockup .slider--prev svg {
  width: 20px;
  fill: #f9b66f;
}
.work--lockup .slider--next {
  right: 0;
}
.work--lockup .slider--prev {
  left: 0;
}
@media (max-width: 900px) {
  .work--lockup .slider--item-image {
    width: 120px;
    height: 120px;
  }
  .work--lockup .slider--item-center .slider--item-image {
    width: 240px;
    height: 240px;
  }
  .work--lockup .slider--next,
  .work--lockup .slider--prev {
    top: 130px;
  }
}
@media (max-width: 767px) {
  .work--lockup .slider {
    width: 75%;
  }
  .work--lockup .slider--item-image {
    width: 90px;
    height: 90px;
  }
  .work--lockup .slider--item-center .slider--item-image {
    width: 190px;
    height: 190px;
  }
  .work--lockup .slider--next,
  .work--lockup .slider--prev {
    top: 105px;
  }
}
@media (max-width: 600px) {
  .work--lockup .slider {
    width: auto;
  }
  .work--lockup .slider--item-left,
  .work--lockup .slider--item-right {
    display: none;
  }
}
.about .about-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  max-width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}
.about h2 {
  margin-top: 2em;

  font-size: 30px;
  text-align: center;
  color: #f9b66f;
  font-family: "EB Garamond", "Whyte", "Montserrat", sans-serif;
  font-weight: 50;
}
.about-content {
  font-size: 16px;
  line-height: 1.8em;
}
.ps {
  font-size: 13px;
}
@media (max-width: 1180px) {
  .about {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 600px) {
  .about .about-content {
    margin-top: 2em;
    max-width: 80%;
    height: 100%;
  }
  .about-content {
    font-size: 13px;
    line-height: 1.6em;
    /* max-width: 80%;
  height: 100%; */
  }
  .about h2 {
    margin-top: 2.7em;
  }
  .ps {
    font-size: 10px;
  }
}
.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/contact-visual.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact--lockup {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .contact--lockup {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .contact--lockup {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.contact--lockup .modal {
  padding: 45px 45px;
  text-align: center;
  background-color: #0c0c0c;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75);
}
.contact--lockup .modal--information p,
.contact--lockup .modal--information a {
  display: block;
  margin: 14px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.contact--lockup .modal--information p {
  margin-top: 0;
}
.contact--lockup .modal--options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact--lockup .modal--options > li {
  width: 130px;
  margin: 0 auto 25px auto;
}
.contact--lockup .modal--options li:nth-child(1) {
  background-color: #1769ff;
}
.contact--lockup .modal--options li:nth-child(2) {
  background-color: #ea4c89;
}
.contact--lockup .modal--options li:nth-child(3) {
  margin-bottom: 0;
  background-color: #0f33ff;
  text-transform: uppercase;
}
.contact--lockup .modal--options a {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.hire {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  max-width: 75%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .hire {
    max-width: 100%;
  }
}
.hire h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  text-align: center;
}
.work-request {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
.work-request input[type="submit"] {
  width: 400px;
  max-width: 100%;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0f33ff;
  border: none;
  border-radius: 0;
}
.work-request input[type="submit"]:focus {
  outline: none;
}
.work-request--options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0;
  color: antiquewhite;
}
.work-request--options .options-a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.work-request--options .options-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 72%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.work-request--options label {
  display: block;
  width: 200px;
  margin-bottom: 30px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: 2px solid #f9b66f;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.work-request--options label svg {
  position: relative;
  left: -5px;
  width: 0;
  fill: #070707;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.work-request--options input[type="checkbox"] {
  display: none;
}
.work-request--options input[type="checkbox"]:checked + label {
  background-color: #f9b66f;
  border-color: #f9b66f;
  color: #070707;
}
.work-request--options input[type="checkbox"]:checked + label svg {
  width: 15px;
}
.work-request--information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}
.work-request--information .information-name,
.work-request--information .information-email {
  position: relative;
  width: 45%;
  height: 50px;
  font-size: 30px;
  font-weight: 300;
}
.work-request--information input[type="text"],
.work-request--information input[type="email"] {
  width: 100%;
  padding: 0 0 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}
.work-request--information input[type="text"]:focus,
.work-request--information input[type="email"]:focus {
  outline: none;
  background-color: #0c0c0c;
}
.work-request--information label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}
.work-request--information input:focus + label,
.work-request--information input.has-value + label {
  top: -15px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .work-request--options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .work-request--options .options-a,
  .work-request--options .options-b {
    display: block;
    width: auto;
  }
}
@media (max-width: 600px) {
  .work-request--options {
    margin: 20px 0;
  }
}
@media (max-width: 600px) and (max-width: 415px) {
  .work-request--options {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .work-request--options label {
    width: 150px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .work-request--options input[type="checkbox"]:checked + label svg {
    width: 12px;
  }
  .work-request--information {
    margin-bottom: 30px;
  }
  .work-request--information .information-name,
  .work-request--information .information-email {
    height: 40px;
    font-size: 24px;
  }
}
.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.perspective--modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.container {
  position: relative;
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
  transform: translateZ(0) translateX(0) rotateY(0deg);
  min-height: 100%;
  outline: 10px solid #56d3f3;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.modalview .container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.effect-rotate-left .container {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.effect-rotate-left--animate .container {
  -webkit-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  outline: 10px solid #56d3f3;
}
.outer-nav {
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.2s;
  transition: visibility 0s 0.2s;
}
.outer-nav.is-vis {
  visibility: visible;
}
.outer-nav--return {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  z-index: 11;
}
.outer-nav--return.is-vis {
  display: block;
}
.outer-nav > li {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(350px) translateZ(-1000px);
  transform: translateX(350px) translateZ(-1000px);
  font-size: 45px;
  font-weight: 900;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  color: #f9b66f;
}
.outer-nav > li.is-vis {
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  opacity: 1;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}
.outer-nav > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  width: 110%;
  height: 5px;
  opacity: 0;
  background-color: #56d3f3;
}
.outer-nav > li.is-active::before {
  opacity: 1;
}
.outer-nav li:hover {
  color: #53b4cc;
  transition: 0.25s;
}
@media (max-width: 767px) {
  .outer-nav > li {
    font-size: 44px;
  }
}
@media (max-width: 600px) {
  .outer-nav > li {
    font-size: 34px;
  }
  #typing-demo1 {
    width: 16em;
    animation: typing 3s steps(30), 2s step-end alternate;
    animation-iteration-count: 2;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #f9b66f;
    color: antiquewhite;
    /* font-family: monospace; */
    font-size: 1.4em;
    margin-left: 5px;
  }
}
.outer-nav li.is-vis:nth-child(2) {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s;
}
.outer-nav li.is-vis:nth-child(3) {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}
.outer-nav li.is-vis:nth-child(4) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}
.outer-nav li.is-vis:nth-child(5) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
/* #contact-form{
  margin-left: 5em;
}
#contact-form input {
  background-color: #070707;
  border: 2px solid #f9b66f;
  border-radius: 5px;
  width: 20em;
  height: 2em;
  margin-bottom: 30px;
  margin-left: 20px;
}

#contact-form label{
   margin-right: 10px; 
}

#contact-form label:before{
  content: "\a";
  white-space: pre;
}

textarea{
  background-color: #070707;
  border: 2px solid #f9b66f;
  border-radius: 5px;
  width: 20em;
  height: 10em;
  margin-bottom: 30px;
  margin-left: 10px;
} */
